/**
*Typography
*/
$font-family-montserrat: 'Montserrat', sans-serif;
/**
*Colors
*/

$primary-color: #2E2E38;
$secondary-color: #489CFF;
$background-gray: #E5E5E5;
$feedback-excelente: #87FE6A;
$feedback-regular: #FBE731;
$feedback-ruim: #F94A4A;



